/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body, html {
    height: 100%;
    margin: 0;

}

body {
    background-color: #000000;
    display: flex;
    justify-content: center; /* Horizontally center */
}

.BatteryIflashCompatibility {
    width: 50%;
    height:fit-content ;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

a {
    color: white;           /* Sets the default link color to white */
    text-decoration: none;  /* Removes the underline from the link */
    font-size:14px; 
    
  }
  
  a:hover {
    color: red;             /* Changes the color to red when hovered */
    text-decoration: none;  /* Adds underline on hover, optional */
  }
  