body {
    font-family: Arial, sans-serif;
    background-color:#000;
}

#search-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#search-input {
    padding: 10px;
    width: 200px;
    border: 0px solid #ccc;
    border-radius: 5px 0px 0px 5px;
    outline: none;
    background-color: #363636; 
    color:#ccc;
}

#search-btn {
    padding: 10px;
    margin-left: 1px;
    background-color: #363636;
    color: white;
    border: none;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

#search-btn:hover {
background-color: #1a1919; 
}

#show-all-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#show-all-btn {
    padding: 10px;
    background-color: #363636;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#show-all-btn:hover {
    color:red; 
}

#content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-div {
    width: 80%;
    padding: 15px;
    background-color: #363636;
    margin: 5px 0;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color:#ccc; 
}

.content-div a {
    text-decoration: none;
    color: #dbdbdb;
    font-size: 18px;
}

.content-div a:hover{
    color:red; 
}